<div class="container" *ngIf="visaResource"> 
    <div class="row">
        <div class="col-md font-weight-bold">Alias</div>
        <div class="col-md">{{visaResource.alias}}</div>
    </div>
    <div class="row">
        <div class="col-md font-weight-bold">Expanded Unaliased Name</div>
        <div class="col-md">{{visaResource.expandedUnaliasedName}}</div>
    </div>
    <div class="row">
        <div class="col-md font-weight-bold">Interface Number</div>
        <div class="col-md">{{visaResource.interfaceNumber}}</div>
    </div>    
    <div class="row">
        <div class="col-md font-weight-bold">Interface Type</div>
        <div class="col-md">{{visaResource.interfaceType}}</div>
    </div> 
    <div class="row">
        <div class="col-md font-weight-bold">Original Resource Name</div>
        <div class="col-md">{{visaResource.originalResourceName}}</div>
    </div>    
    <div class="row">
        <div class="col-md font-weight-bold">Resource Class</div>
        <div class="col-md">{{visaResource.resourceClass}}</div>
    </div>
</div>          
