<div *ngIf="visaResource">
    <div><span>alias</span>{{visaResource.alias}}</div>
    <div><span>expandedUnaliasedName</span>{{visaResource.expandedUnaliasedName}}</div>
    <div><span>interfaceNumber</span>{{visaResource.interfaceNumber}}</div>
    <div><span>interfaceType</span>{{visaResource.interfaceType}}</div>
    <div><span>originalResourceName</span>{{visaResource.originalResourceName}}</div>
    <div><span>resourceClass</span>{{visaResource.resourceClass}}</div>
    <div><span>detectedAt</span>{{visaResource.detectedAt}}</div>
</div>