<h4>VISA Resources Available</h4>
<div class="container">
  <div class="list-group" *ngFor="let resource of visaResources" (click)="onSelect(resource)">
    <button type="button" 
      class="btn btn-light text-left" 
      [class.active]="resource === visaResourceSelected">
        <span class="badge badge-secondary">{{resource.alias}}</span> {{resource.expandedUnaliasedName}}
        <span class="badge badge-success badge-pill float-right" *ngIf="resource.opened">Open</span>
    </button>
  </div>
  <div>
      <button type="button" class="btn btn-info" (click)="getAllVisaResources()">Refresh</button>
  </div>
</div>



