<form class="emp-form" #visaHandlerForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-8">
      <button type="button" class="btn btn-block btn-info" [disabled]="!visaResource" (click)="onOpen()">Open</button>
    </div>
    <div class="form-group col-md-4">
        <button type="button" class="btn btn-block" (click)="onClose()">Close</button>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="form-control" name="Message" #Message="ngModel" [(ngModel)]="message" placeholder="Message" required>
      <div class="validation-error" *ngIf="Message.invalid && Message.touched">This field if required</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-block" [disabled]="!isResourceOpen" (click)="onWrite()">Write</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-block" [disabled]="!isResourceOpen" (click)="onQuery()">Query</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-block" [disabled]="!isResourceOpen" (click)="onRead()">Read</button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-block" [disabled]="!isResourceOpen" (click)="onClear()">Clear</button>
    </div>
  </div> 
</form>
